.App {
  text-align: left;
  padding: 20px;
  font-family:cursive;
 
}


.table-bordered{
  border-color: black;
}

.borderColor {
  border: 3px black solid;
  padding: 20px;
  margin-top: 15px;
  width: fit-content;
}

table {
  margin-top: 15px;
}

.red {
  color: white;
  background-color: red;
  box-shadow: 2px 2px black;
  padding: 1px 15px;
}

.formBorder {
  border: 2px black solid;
  padding: 10px  15px;
}

input {
  border: 2px black solid;
  margin-left: 10px;
  
}

.inputMargin {
  margin-top: 25px;
  text-align: right;
  
}

.containerDim {
  width: fit-content;
  margin-top: 20px;
}

.submitButton {
  color: white;
  background-color: green;
  box-shadow: 2px 2px black;
  padding: 1px 40px;
  
}

.buttonAlignment {
  text-align: right;
  margin-top: 20px;
}